<!--Importando os blocos do código base.html-->
{% extends "base.html" %}

{% block titulo %}
Perfil - {{usuario}}
{% endblock %}

{% block body %}
<body>
    <!--h1 se refere a formatação do texto-->
    <!--Estamos chamando a variável declarada no código Python-->
    <h1>Perfil do usuário: {{usuario}}</h1>

    <!--Utilizamos a tag <a> para se referir a um link, e para trabalhar com o link utilizamos HREF-->
    <!--Url-for foi delcarada no código Python, ela faz que possamos passar a função da rota como link-->
    <a href = "{{  url_for('homepage')  }}">Sair</a>
</body>
{% endblock %}

 